@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: 'paprica';
  src: url('./assets/font/Paprika/Paprika-Regular.ttf');
}

:root {
    /* Couleurs */
    --color-text: #ffffff;
    --color-textcard: #ffffff;
    
    --color-buton: #5482ff;
    --color-pink: #ffa4cf;
    /*Degrader accueil*/
    --primary-color:#090347;
    --secondary-color:#150080;
    /* Polices */
    --font-title: 'Lato', sans-serif;
    --font-subtitle: 'paprica', cursive; /* Paprica peut nécessiter une importation personnalisée */
    --font-text: 'Roboto', sans-serif;
  }
  